/************************** COLOURS **************************/

$color-one: #FFC631;
$color-two:#55D7FF; 
$color-three:#E85F58 ;
$color-four: #C1ABFF;
$color-five: #55E82E;
$color-six:#000;
$color-seven: #fff;


$color-text: #7e7e7e;
$color-text-bg:#e0dfdf;
$color-text-dark: #383838;



$color-bg-one:#bbbbbb;
$color-bg-two:#dadada;
$color-bg-three:#f3f2f2;

/************************** SHADOWS **************************/ 
$shadow-nine: 0 1rem 2rem rgba(0,0,0,.9);
$shadow-eight: 0 1rem 2rem rgba(0,0,0,.8);
$shadow-seven: 0 1rem 2rem rgba(0,0,0,.7);
$shadow-six: 0 1rem 2rem rgba(0,0,0,.6);
$shadow-five: 0 1rem 2rem rgba(0,0,0,.5);
$shadow-four: 0 1rem 2rem rgba(0,0,0,.4);
$shadow-three: 0 1rem 2rem rgba(0,0,0,.3);
$shadow-two: 0 1rem 2rem rgba(0,0,0,.2);
$shadow-one: 0 1rem 2rem rgba(0,0,0,.1);


   
/************************** RESPONSIVE BREAKPOINTS **************************/ 
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;




