@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: $shadow-four;
    }

    50% {
        transform: scale(0.9);
        box-shadow: $shadow-six;
    }

    100% {
        transform: scale(1);
        box-shadow: $shadow-four;
    }
}

@keyframes flash {

    0% {
        transform: scale(1);
        box-shadow: $shadow-two;
    }

    50% {
        transform: scale(0.3);
        box-shadow: $shadow-nine;
    }

    100% {
        transform: scale(1);
        box-shadow: $shadow-two;
    }
}
