.contact {

    grid-column: full-start / full-end;
    border-top: 1px solid $color-four;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;




    &__heading{
        align-self: flex-end;
        margin-right: 3rem;
        z-index: 11;
        position: relative;
        
        &-title {

            position: absolute;
            top: 11rem;
            left:1rem;

            @media only screen and (max-width: $bp-large) {
                top: 8rem;
                
            }
            @media only screen and (max-width: 370px) {
                top: 5rem;
                left:0;
            }
        }
    }
    &__icons{
        display: flex;
        
        z-index: 23;

        &-icon{
            margin: 0 2rem;
            height: 4rem;
            width: 4rem;
        }

        &-link{
            transition: all .2s;
            &:hover{
                transition: all .2s;
                transform: scale(1.1);
            }

        }
    }

    &__form{
        z-index: 20;
        display:grid;
        grid-gap: 2rem;
        margin: 2rem;
        color: $color-text-dark;
        font-size: 1.5rem;

        & > * {
            font-family: "Lato", sans-serif;
            padding: .5rem;
            font-size: 1.5rem;
            
        }


        &-btn{
            justify-self: center;
            border-radius: 5rem;
            padding: 1rem;
            border: 1px solid $color-four;
            font-family: 'Annie Use Your Telescope', cursive;
            cursor: pointer;
            font-size: 2rem;
            box-shadow: $shadow-three;
            transition: all .2s;
            
            &:hover{
                transition: all .2s;
                transform: scale(1.1);
                box-shadow: $shadow-two;

            }
            &:active {
                transform: scale(1);
                box-shadow: $shadow-three;
                transition: all .2s;
            }

        }
    }

    &__okmessage{
        margin: 0 auto;
        color: $color-five;
    }
    &__failmessage{
        margin: 0 auto;
        color: $color-three;
    }
   

}

.end{
    grid-column: full-start / full-end;
    



    &__foot {
        width: 100%;    
        background-color: $color-text-dark;
        z-index: 21;
        color: $color-one;
        display: flex;
        justify-content: center;
        align-self: center;
    }

}