.hero {
    grid-column: full-start / full-end;
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)) ,url(../../vendor/img/hero.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $color-four;

    &__textBox{
        
        display:flex;
        flex-direction: column;
        justify-content: center;
        
        &-junior {
            align-self: flex-start;
            transform: translate(-2rem,3rem);
            z-index: 1;
        }

    }

    &__textBgBox{
        align-self: flex-end;
        transform: translateY(-10rem);
        line-height: .6;
        



        &-sub{
            transform: translateX(20rem);
        }
    }
}